body {
font-size: 200%;
}

.container-fluid{
    font-size: 90%
}
footer {
    font-size: 90%
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height:50vh;
}

h1 {
font-size: 150%
}

h2 {
font-size: 120%
}

p{
    font-size: 70%
}

h3{

}